<header class="primary-header">
    <div class="primary-header-container">
        <a href="{{ url_for('main.download_youtube') }}" class="home-link">
            <img src="{{ url_for('static', filename='images/youtube download video to mp4 website free.png') }}" alt="youtube download video to mp4 website free">
        </a>
        <button class="mobile-menu-button" aria-label="Toggle menu">☰</button>
        <nav class="primary-header-nav">
            <ul class="primary-header-nav-menu">
                <li><a href="{{ url_for('main.download_youtube') }}" class="primary-header-nav-link">Youtube MP4 Downloader</a></li>
            </ul>
        </nav>
    </div>
</header>